* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    font-size: 1.2rem;
}

.topPage{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 12rem 10rem 12rem;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}



.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}


   

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

nav li a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav li a:hover {
    background-color: #ddd;
    color: #1F2937;
}




.introWebsite{
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
}


.awesomeWebsite h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;

}

.awesomeWebsite p {
    font-size: 18px;
    color: #e5e7ebde;
    margin-top: 10px;
}


.awesomeWebsite {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.awesomeWebsite button {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 12px;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
}

.awesomeWebsite button:hover {
    background-color: #5881b9;
}




.image-box{
    padding: 7rem 15rem;
    background-color: #828992
}




.moreInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    margin-top: 40px;

    

}

.moreInfo h2 {
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
}



.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px; /* Adjust the width to your desired size */
    margin: 30px;
}

.smallBox {
    width: 100%; /* This will make the width of the smallBox the same as its parent box */
    height: 0;
    padding-bottom: 100%; /* This will make the height the same as the width */
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.box p {
    color: #1f2937cb;
    margin-top: 10px;
    font-weight: 500;
}

.quote-box{
    background-color: #E5E7EB;
    padding: 10rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author{
    color: #1F2937 ;
    font-weight: bolder;
    font-style:normal;
    font-size: 28px;
    text-align: right;


}

.cta-box{
    padding: 7rem 9rem;
}

.cta-content {
    padding: 3rem 7rem;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.cta-text p:first-child {
    font-size: 1.2em; /* Adjust the size to your desired size */
    font-weight: bold;
    margin-bottom: 6px;
}

.cta-text p:last-child {
    font-weight: lighter;
    font-size: 1.1rem;
}

.cta-content button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 12px;
    font-size: 1rem;
    height: 40px;
    padding: 0 35px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bolder;
    align-self: flex-end;

}

.cta-content button:hover {
    background-color: #1F2937;
}


.footer {
    background-color: #1F2937;
    padding: 3rem;
    text-align: center;
}




